/* Drawer styles */
.drawer {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  /* background-color: #090a1ab3; */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  z-index: 1;
  display: none;
}

.drawer.open {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* background-color: #102948; */
  background-color: #091c31ed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  z-index: 1;
  display: unset;
}

.drawer a i {
  margin-right: 15px;
}

.drawer a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  transition: 0.3s;
  color: white;
}

.drawer a:hover {
  /* background-color: #ddd; */
}

/* Toggle button styles */
#toggle-btn {
  /* position: fixed;
    top: 10px;
    left: 10px;
    font-size: 20px; */
  line-height: 40px;
  background: unset;
  padding-right: 20px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.floating-right {
  float: right;
  display: flex;
}

.floating-right > * {
  margin-left: 15px;
}

.fields_array h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

div#particles-js {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a.active {
  position: relative;
  background: #134078;
}